<div>
    <br>
    <h2>Branches by {{agency.name}}</h2>
    <br><br>
    <div ng-show="agenciesByUser.length > 0" class="btn-group float-left">
        <button ng-click="register()" type="button" class="btn btn-primary">Register branch</button>
    </div>
    <div class="btn-group float-right">
        <button class="page-link" ng-click="go(-1)"
                ng-disabled="pageNum == 0">&laquo;
        </button>
        <button class="page-link" ng-click="go(1)"
                ng-disabled="pageNum == totalPages - 1">&raquo;
        </button>
    </div>
    <table class="table table-bordered table-striped">
        <th>Branch address</th>
        <th>Phone number</th>
        <tr ng-repeat="branch in branchesByAgency">
            <td>{{branch.address}}</td>
            <td>{{branch.phoneNumber}}</td>
        </tr>
    </table>
</div>