<div>
    <br>
    <h2>Branches by {{agency.name}}</h2>
    <br><br>
    <div ng-show="agenciesByUser.length > 0 && agency.ownerId === user.id" class="btn-group float-left">
        <button ng-click="register()" type="button" class="btn btn-primary">Register branch</button>
    </div>
    <div ng-show="branchesByAgency.length > 0" class="btn-group float-right">
        <button class="page-link" ng-click="go(-1)"
                ng-disabled="pageNum == 0">&laquo;
        </button>
        <button class="page-link" ng-click="go(1)"
                ng-disabled="pageNum == totalPages - 1">&raquo;
        </button>
    </div>
    <br><br>
    <div ng-repeat="b in branchesByAgency">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{b.address}}</h5>
                <h6 class="card-subtitle text-muted">{{b.phoneNumber}}</h6>
            </div>
            <ng-map center="[{{b.latitude}},{{b.longitude}}]">
                <marker position="[{{b.latitude}},{{b.longitude}}]"></marker>
            </ng-map>
        </div>
    </div>
</div>