<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Branch registration</h4>
        </div>
        <div class="panel-body">
            <form class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="branchAddress">Address</label> <input
                        ng-model="newBranch.address" type="text" class="form-control"
                        id="branchAddress">
                </div>
                <div class="form-group">
                    <label for="branchPhoneNumber">Phone number</label> <input
                        ng-model="newBranch.phoneNumber" type="text" class="form-control"
                        id="branchPhoneNumber">
                </div>
                <div class="form-group">
                    <label for="branchAgency">Agency</label> <select
                        ng-model="newBranch.agencyId" class="form-control" id="branchAgency">
                    <option ng-repeat="a in agencies" ng-value="a.id">{{a.name}}</option>
                </select>
                </div>
                <br>
                <button ng-click="registerBranch()" type="button"
                        class="btn btn-primary">Register
                </button>
            </form>
        </div>
    </div>
</div>