<div class="section section-gray">
    <div class="container">
        <br><br>
        <div class="card2 card-register3 mx-auto" style="max-width: 35rem;">
            <h3 class="card-title text-center">Agency registration</h3>
            <br><br>
            <form>
                <div class="form-group">
                    <label for="agencyName">Agency name</label> <input
                        ng-model="newAgency.name" type="text" class="form-control"
                        id="agencyName">
                </div>
                <div class="form-group">
                    <label for="agencyDescription">Description</label> <textarea
                        ng-model="newAgency.description" type="text" class="form-control"
                        id="agencyDescription" rows="3"></textarea>
                </div>

                <div class="form-group">
                    <label for="agencyPhoneNumber">Phone number</label> <input
                        ng-model="newAgency.phoneNumber" type="text" class="form-control"
                        id="agencyPhoneNumber">
                </div>

                <div class="form-group">
                    <label for="agencyEmail">E-mail</label> <input
                        ng-model="newAgency.email" type="text" class="form-control"
                        id="agencyEmail">
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-7 mb-3 custom-file">
                        <input class="custom-file-input" type="file" ngf-select ng-model="logo" name="file"
                               accept="image/*" ngf-max-size="5MB"
                               ngf-model-invalid="errorFile" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                </div>
                <br>
                <span class="d-flex row h-100" ng-show="logo">
                    <img ngf-thumbnail="logo" class="thumb "><span
                        class="align-self-center">&nbsp;&nbsp;{{logo.name}}</span>
                    <button class="btn btn-outline-danger btn-just-icon ml-auto align-self-center"
                            ng-click="logo = null">
                        <i class="fa fa-remove"></i>
                    </button>
                </span>

                <br>
                <div class="alert" ng-class="{ 'alert-warning' : message != null}">{{message}}</div>

                <div class="text-center">
                    <button ng-click="uploadAndSave()" type="button"
                            class="btn btn-success">Register
                    </button>
                </div>
            </form>
        </div>
        <br><br>
    </div>
</div>