<div>
    <br><br><br><br>
    <div class="card border-primary mx-auto" style="max-width: 45rem;">
        <div class="card-header text-center"><h3>Register agency</h3></div>
        <div class="card-body">

            <form>
                <div class="form-group">
                    <label for="agencyName">Agency name</label> <input
                        ng-model="newAgency.name" type="text" class="form-control"
                        id="agencyName">
                </div>
                <div class="form-group">
                    <label for="agencyDescription">Description</label> <input
                        ng-model="newAgency.description" type="text" class="form-control"
                        id="agencyDescription">
                </div>

                <div class="form-group">
                    <label for="agencyPhoneNumber">Phone number</label> <input
                        ng-model="newAgency.phoneNumber" type="text" class="form-control"
                        id="agencyPhoneNumber">
                </div>

                <div class="form-group">
                    <label for="agencyEmail">E-mail</label> <input
                        ng-model="newAgency.email" type="text" class="form-control"
                        id="agencyEmail">
                </div>
                <br>
                <div class="form-group">
                    <div class="col-md-7 mb-3 custom-file">
                        <input type="file" ngf-select ng-model="logo" name="file"
                               accept="image/*" ngf-max-size="5MB"
                               ngf-model-invalid="errorFile" id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
                    </div>
                </div>
                <br>
                <span ng-show="logo"><img ngf-thumbnail="logo" class="thumb">&nbsp;&nbsp;{{logo.name}}><button
                        class="fa fa-remove btn btn-warning float-right" ng-click="logo = null"></button></span>

                <br>
                <div class="alert" ng-class="{ 'alert-warning' : message != null}">{{message}}</div>
                <br>
                <div class="text-center">
                    <button ng-click="uploadAndSave()" type="button"
                            class="btn btn-success">Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>