<div class="section-gray">
    <div class="container">
        <br><br><br><br><br>
        <div class="text-center">
            <h2 class="title">My agencies</h2>
        </div>
        <br><br>
        <div ng-show="(user.userRoleName == 'ROLE_MANAGER' || user.userRoleName == 'ROLE_ADMIN') && (user.approved && !user.banned)" class="btn-group pull-left">
            <button ng-click="registerAgency()" type="button" class="btn btn-primary">Register agency</button>
        </div>
        <div ng-show="agencies.length > 0" class="btn-group float-right">
            <button class="btn btn-info btn-just-icon" ng-click="go(-1)"
                    ng-disabled="pageNum == 0"><i class="fa fa-angle-left"></i>
            </button>
            <button class="btn btn-info btn-just-icon" ng-click="go(1)"
                    ng-disabled="pageNum == totalPages - 1"><i class="fa fa-angle-right"></i>
            </button>
        </div>
        <br><br><br>

        <div class="row">
            <div class="col-md-4" ng-repeat="a in agencies">
                <div class="card">
                    <div class="logo-agency text-center">
                        <img class="card-img-top" ng-src="{{a.logo}}">
                    </div>
                    <br><br><br>
                    <div class="card-body">
                        <h4 class="card-title text-center">{{a.name}}</h4>
                        <br>
                        <ul class="list-group list-group-flush">
                            <h5 class="card-subtitle">Description</h5>
                            <li class="list-group-item text-muted">{{a.description}}</li>
                            <br>
                            <h5 class="card-subtitle">Contact:</h5>
                            <li class="list-group-item text-muted"><span>{{a.email}}</span>
                                <div>{{a.phoneNumber}}</div>
                            </li>
                            <br>
                            <div class="text-center">
                                <a class="btn btn-success" href="#/my-agencies/{{a.id}}/manage">Manage</a>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div ng-hide="user.approved" class="info">
            <div class="icon icon-success">
                <i class="nc-icon nc-time-alarm"></i>
            </div>
            <div class="description">
                <h4 class="info-title"> Account approval </h4>
                <p>Admin needs to approve your account first, than you can start registering your agencies and vehicles.<br>It won't take long.</p>
            </div>
        </div>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
    </div>
</div>