<div class="section section-gray">
    <div class="container">
        <br><br>
        <div class="card2 card-register3 mx-auto" style="max-width: 27rem;">
            <h3 class="card-title text-center">Add price list</h3>
            <br><br>
            <form>
                <div class="form-group">
                    <label for="startDate">Start date</label>
                    <div class="input-group date" id="startDate">
                        <input ng-model="newPriceList.startDate"
                               type="text"
                               class="form-control datetimepicker" placeholder="Select date"/>
                        <div class="input-group-append">
                             <span class="input-group-text">
                                     <span class="glyphicon glyphicon-calendar"><i class="fa fa-calendar"
                                                                                   aria-hidden="true"></i></span>
                             </span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="endDate">End date</label>
                        <div class="input-group date" id="endDate">
                            <input ng-model="newPriceList.endDate" type="text"
                                   class="form-control datetimepicker" placeholder="Select date"/>
                            <div class="input-group-append">
                             <span class="input-group-text">
                                     <span class="glyphicon glyphicon-calendar"><i class="fa fa-calendar"
                                                                                   aria-hidden="true"></i>
                                     </span>
                             </span>
                            </div>
                        </div>
                    </div>
                    <div class="alert" ng-class="{ 'alert-warning' : message != null}">{{message}}</div>
                    <br>
                    <div class="text-center">
                        <button ng-click="addPriceList()" type="button"
                                class="btn btn-primary">Add
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
