<div>
    <br><br><br><br>
    <div class="card border-primary mx-auto" style="max-width: 40rem;">
        <div class="card-header text-center"><h3>New vehicle</h3></div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="vehicleName">Name</label> <input
                        ng-model="newVehicle.name" type="text" class="form-control"
                        id="vehicleName">
                </div>
                <div class="form-group">
                    <label for="vehicleDescription">Description</label> <input
                        ng-model="newVehicle.description" type="text" class="form-control"
                        id="vehicleDescription">
                </div>
                <div class="form-group">
                    <label for="vehicleSpecification">Specification</label> <input
                        ng-model="newVehicle.specification" type="text" class="form-control"
                        id="vehicleSpecification">
                </div>
                <div class="form-group">
                    <label for="vehicleTypes">Type</label> <select
                        ng-model="newVehicle.vehicleTypeId" class="form-control" id="vehicleTypes">
                    <option ng-repeat="vt in vehicleTypes" ng-value="vt.id">{{vt.name}}</option>
                </select>
                </div>
                <div class="form-group">
                    <label for="priceListItemPph">Price per hour</label> <input
                        ng-model="newVehicle.pricePerHour" type="text" class="form-control"
                        id="priceListItemPph">
                </div>
                <div class="alert" ng-class="{ 'alert-warning' : message != null}">{{message}}</div>
                <br>
                <div class="text-center">
                    <button ng-click="addVehicleAndPriceListItem()" type="button"
                            class="btn btn-primary">Add vehicle
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>