<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rent a Vehicle</title>

    <!-- importing the bootstrap styles -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<style>
    .margin-top-5 {
        margin-top: 10px;
    }

    .panel-scroll {
        height: 300px;
        overflow-y: auto;
    }

    .user {
        font-weight: bold;
    }

    .logout {
        cursor: pointer;
        margin-left: 5px;
    }
</style>
<body ng-app="rentAVehicleApp">

<!-- View for adding the navigation bar -->
<div ng-controller="NavController">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/home">Rent a Vehicle</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/#/agencies">Agencies</a></li>
                    <li><a href="/#/branches">Branches</a></li>
                    <li ng-show="user.username"><a href="#/users">Users</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li ng-show="user.roles[0] == 'ROLE_MANAGER' || user.roles[0] == 'ROLE_ADMIN'"><a><span ng-click="myAgencies()" href="" class="logout">My agencies</span></a></li>
                    <li ng-show="user.username"><a> <span class="user">Hi, {{user.username}}</span> <span ng-click="logout()" href=""
                                                           class="logout">Logout</span>
                    </a></li>
                    <li ng-show="!user.username"><a href="#/login">Login</a></li>
                    <li ng-show="!user.username"><a href="#/register">Register</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

</div>

<div class="container">
    <!-- Main view for showing all views -->
    <div ng-view></div>
</div>

<!-- Including Scripts -->
<script src="assets/js/angular.js"></script>
<script src="assets/js/angular-route.js"></script>

<!-- Including jquery, moment and twitter bootstrap -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/moment.js"></script>

<!-- Including the app.js and route.js  -->
<script type="text/javascript" src="app/main.js"></script>
<script type="text/javascript" src="app/route.js"></script>

<!-- Including services -->
<script type="text/javascript" src="app/js/services/auth-service.js"></script>
<script type="text/javascript" src="app/js/services/pricePerHour-service.js"></script>

<!-- Including controllers -->
<script type="text/javascript" src="app/js/auth/nav.js"></script>
<script type="text/javascript" src="app/js/auth/login.js"></script>
<script type="text/javascript" src="app/js/auth/users.js"></script>
<script type="text/javascript" src="app/js/auth/home.js"></script>
<script type="text/javascript" src="app/js/auth/page-not-found.js"></script>
<script type="text/javascript" src="app/js/auth/access-denied.js"></script>
<script type="text/javascript" src="app/js/auth/register.js"></script>
<script type="text/javascript" src="app/js/agency/agency-controllers.js"></script>
<script type="text/javascript" src="app/js/branch/branch-controllers.js"></script>
<script type="text/javascript" src="app/js/vehicle/vehicle-controllers.js"></script>
<script type="text/javascript" src="app/manager/js/price-list-controllers-manager.js"></script>
<script type="text/javascript" src="app/manager/js/vehicle-controllers-manager.js"></script>
<script type="text/javascript" src="app/manager/js/agency-controllers-manager.js"></script>
<script type="text/javascript" src="app/manager/js/reservation-controllers-manager.js"></script>


</body>
</html>
