<div class="full-screen login">
    <div class="wrapper">
        <div class="page-header" style="background-image: url('/assets/bootstrap/images/headers/bruno-abatti.jpg');">
            <div class="filter"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <div class="card card-register">
                            <h3 class="card-title">Login</h3>


                            <form class="register-form" ng-submit="login()">
                                <label for="username">Username</label> <input placeholder="Username" type="text"
                                                                              class="form-control no-border"
                                                                              ng-model="username"
                                                                              id="username">


                                <label for="pwd">Password</label> <input placeholder="Password" type="password"
                                                                         class="form-control no-border" id="pwd"
                                                                         ng-model="password">
                                <br>
                                <div class="alert alert-info margin-top-5" ng-show="message">{{message}}</div>
                                <button type="submit" class="btn btn-danger btn-block btn-round">Login</button>

                            </form>
                            <div class="forgot">
                                <a href="#" class="btn btn-link btn-danger">Forgot password?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>