<div class="subscribe-line subscribe-line-transparent" data-parallax="true"
     style="background-image: url('assets/bootstrap/images/headers/vehicles-page.jpg');">
    <div class="filter"></div>

    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-8">
                <div class="card card-profile card-plain">
                    <div class="d-flex row h-100">
                        <div class="col-md-3 align-self-center">
                            <div class="img-avatar">
                                <img class="img-circle" src="{{agency.logo}}"/>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="card-body text-left">
                                <div class="d-flex row h-100">
                                    <span class="align-self-end">
                                         <h2 class="card-title text-white">{{agency.name}}</h2>
                                    </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span class="btn btn-just-icon btn-link btn-neutral align-self-end"
                                          data-toggle="tooltip"
                                          data-placement="top"
                                          title="Average rating"><img
                                            src="assets/bootstrap/images/star.png">
                                        </span>
                                    <h4 class="header-text">{{avgRating}}</h4>
                                    &nbsp;&nbsp;&nbsp;
                                    <span class="align-self-end">
                                           <button ng-click="rateAgency()" type="button"
                                                   ng-disabled="!user.approved || user.banned"
                                                   class="btn btn-outline-primary btn-sm2">Rate
                                           </button>
                                        </span>
                                    &nbsp;&nbsp;
                                    <span class="align-self-end">
                                        </span>
                                </div>

                                <div class="card-description text-white">{{agency.description}}
                                </div>
                                <button ng-click="agencyBranches()" type="button"
                                        class="btn btn-just-icon btn-round btn-sm text-warning"><i
                                        class="fa fa-building-o"></i>Branches
                                </button>
                                <br>
                                <h6 class="card-category text-white">{{agency.phoneNumber}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="search">
    <div class="section-search">
        <div class="container">
            <br><br><br>
            <div class="row">
                <div class="col-md-3 ml-auto mr-auto text-center">
                    <form role="search" class="form-inline search-form">
                        <div class="input-group no-border">
                            <span class="input-group-addon addon-xtreme no-border" id="basic-addon1"><i
                                    class="fa fa-search"></i></span>
                            <input ng-change="getVehiclesAndPrice()" ng-model="filteredVehicle.name" type="text"
                                   class="form-control input-xtreme no-border" placeholder="Search..."
                                   aria-describedby="basic-addon1">
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex row h-100">
                <div class="col-md-2">
                    <form>
                        <h6>Type</h6>
                        <select ng-change="getVehiclesAndPrice()" ng-model="filteredVehicle.vehicleTypeId"
                                class="form-control no-border" id="filteredVehicleType">
                            <option value="">All</option>
                            <option ng-repeat="vt in vehicleTypes" value="{{vt.id}}">{{vt.name}}</option>
                        </select>


                    </form>
                </div>
                <div class="col-md-10 align-self-end">
                    <div ng-show="vehiclesAndPrice.length > 0" class="btn-group float-right">
                        <button class="btn btn-info btn-just-icon" ng-click="go(-1)"
                                ng-disabled="pageNum == 0"><i class="fa fa-angle-left"></i>
                        </button>
                        <button class="btn btn-info btn-just-icon" ng-click="go(1)"
                                ng-disabled="pageNum == totalPages - 1"><i class="fa fa-angle-right"></i>
                        </button>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-4" ng-repeat="v in vehiclesAndPrice">
                    <div class="card">
                        <div class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner img-card">
                                <div class="carousel-item" ng-class="{'active': !$index}"
                                     ng-repeat="i in imagesByAgency | filter: {vehicleId: v.vehicleId}"
                                     ng-if="i.vehicleId == v.vehicleId">
                                    <img class="card-img-top" ng-src="{{i.imageSource}}">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{v.name}}</h4>
                            <br>
                            <ul class="list-group list-group-flush">
                                <h5 class="card-subtitle">Description</h5>
                                <li class="list-group-item text-muted">{{v.description}}</li>
                                <br>
                                <h5 class="card-subtitle">Sepcification</h5>
                                <li class="list-group-item text-muted">{{v.specification}}</li>
                                <br>
                                <h5 class="card-subtitle">Type: &nbsp;&nbsp;<span
                                        class="text-muted">{{v.vehicleTypeName}}</span>
                                </h5>
                                <div>
                                    <hr>
                                </div>
                                <h5 class="card-subtitle">Available: &nbsp;&nbsp;<span class="fa fa-check"
                                                                                       ng-show="v.available"></span><span
                                        class="fa fa-close" ng-show="!v.available"></span></h5>

                                <div>
                                    <hr>
                                </div>
                                <h5 class="card-subtitle">Price per hour: &nbsp;&nbsp;<span class="text-warning">{{v.pricePerHour | number: 2}} &nbsp;<span
                                        class="fa fa-eur"></span></span></h5>
                            </ul>
                            <div>
                                <hr>
                            </div>
                            <div class="card-body text-center">
                                <button class="btn btn-success"
                                        ng-click="reserve(v.vehicleId); getPricePerHour(v.pricePerHour)"
                                        ng-disabled="!v.available || (!user.approved || user.banned)">Reserve
                                </button>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<script>$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})</script>