<div>
    <br>
    <div class="page-header">
        <h2>Vehicles by {{agency.name}}<span title="Rating"><h4 class="text-success float-right">{{avgRating}}</h4>&nbsp;<img
                class="float-right" src="assets/bootstrap/img/star.png"></span>

        </h2>
    </div>
</div>

<div class="float-right">
    <button ng-click="rateAgency()" type="button"
            class="btn btn-primary">Rate
    </button>
</div>
<br><br>
<form>
    <div class="row">
        <div class="col-md-3">
            <label for="filteredVehicleName">Name: </label> <input ng-change="getVehiclesAndPrice()"
                                                                   ng-model="filteredVehicle.name"
                                                                   type="text"
                                                                   class="form-control"
                                                                   id="filteredVehicleName">
        </div>
        <div class="col-md-3">
            <label for="filteredVehicleType">Type: </label> <select ng-change="getVehiclesAndPrice()"
                                                                    ng-model="filteredVehicle.vehicleTypeId"
                                                                    class="form-control"
                                                                    id="filteredVehicleType">
            <option value=""></option>
            <option ng-repeat="vt in vehicleTypes" value="{{vt.id}}">{{vt.name}}</option>
        </select>
        </div>
    </div>
</form>
<br>
<table class="table table-bordered table-striped">
    <th>Name</th>
    <th>Description</th>
    <th>Specification</th>
    <th>Type</th>
    <th>Available</th>
    <th>Price per hour</th>
    <th></th>

    <tr ng-repeat="v in vehiclesAndPrice">
        <td>{{v.name}}</td>
        <td>{{v.description}}</td>
        <td>{{v.specification}}</td>
        <td>{{v.vehicleTypeName}}</td>
        <td ng-show="v.available === true">Available</td>
        <td ng-show="v.available === false">Not available</td>
        <td>{{v.pricePerHour}}</td>
        <td>
            <button class="btn btn-success" ng-click="reserve(v.vehicleId); getPricePerHour(v.pricePerHour)"
                    ng-disabled="!v.available">Reserve
            </button>
        </td>
    </tr>
</table>
</div>