<div class="section-gray">
    <div class="container">
        <br><br><br><br>
        <div class="text-center">
            <h2 class="title">Agencies</h2>
        </div>
        <br>
        <div ng-show="user.userRoleName == 'ROLE_MANAGER' || user.userRoleName == 'ROLE_ADMIN'" class="btn-group float-left">
            <button ng-click="register()" type="button" class="btn btn-primary">Register agency</button>
        </div>
        <div class="btn-group float-right">
            <button class="btn btn-info btn-just-icon" ng-click="go(-1)"
                    ng-disabled="pageNum == 0"><i class="fa fa-angle-left"></i>
            </button>
            <button class="btn btn-info btn-just-icon" ng-click="go(1)"
                    ng-disabled="pageNum == totalPages - 1"><i class="fa fa-angle-right"></i>
            </button>
        </div>
        <br><br><br>
        <div class="row">
            <div class="col-md-3" ng-repeat="a in agencies">
                <div class="card">
                    <div class="logo-card text-center">
                        <img class="card-img-top" ng-src="{{a.logo}}">
                    </div>
                    <br><br>
                    <div class="card-body">
                        <h4 class="card-title text-center">{{a.name}}</h4>
                        <br>
                        <ul class="list-group list-group-flush">
                            <h5 class="card-subtitle">Description</h5>
                            <li class="list-group-item text-muted">{{a.description}}</li>
                            <br>
                            <h5 class="card-subtitle">Contact:</h5>
                            <li class="list-group-item text-muted"><span>{{a.email}}</span>
                                <div>{{a.phoneNumber}}</div>
                            </li>
                            <br>
                            <div class="text-center">
                                <a class="btn btn-success" href="#/agencies/{{a.id}}/vehicles">More info</a>
                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
</div>
