<div>
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Agency registration</h4>
        </div>
        <div class="panel-body">

            <form class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label for="agencyName">Agency name</label> <input
                        ng-model="newAgency.name" type="text" class="form-control"
                        id="agencyName">
                </div>
                <div class="form-group">
                    <label for="agencyDescription">Description</label> <input
                        ng-model="newAgency.description" type="text" class="form-control"
                        id="agencyDescription">
                </div>

                <div class="form-group">
                    <label for="agencyPhoneNumber">Phone number</label> <input
                        ng-model="newAgency.phoneNumber" type="text" class="form-control"
                        id="agencyPhoneNumber">
                </div>

                <div class="form-group">
                    <label for="agencyEmail">E-mail</label> <input
                        ng-model="newAgency.email" type="text" class="form-control"
                        id="agencyEmail">
                </div>
                <br>
                <button ng-click="registerAgency()" type="button"
                        class="btn btn-primary">Register
                </button>
            </form>
        </div>
    </div>
</div>