<div class="section-gray">
    <div class="container">
        <br><br><br><br><br><br>
        <div class="card2 card-register3 mx-auto" style="max-width: 33rem;">
            <h3 class="card-title text-center">Rate agency</h3>
            <br><br>
            <form>
                <div class="form-group">
                    <label for="score">Rating <span class="icon-danger">*</span></label>
                    <select
                            ng-model="newRating.score" class="form-control" id="score">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="comment">Comment</label>
                    <textarea id="comment" ng-model="newRating.comment" class="form-control textarea-limited"
                              rows="3"></textarea>

                </div>
                <div class="alert" ng-class="{ 'alert-warning' : message != null}">{{message}}</div>
                <br>
                <div class="text-center">
                    <button ng-click="addRating()" type="button"
                            class="btn btn-primary btn-lg">Rate
                    </button>
                </div>

            </form>
        </div>
        <br><br><br><br>
    </div>
</div>